* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    background-color: #282a36;
    color: #fff;
}

header {
    padding: 32px;
    border-bottom: 1px solid #333;
    font-weight: 700;
}

.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 10px;
}

.page-title {
    margin-bottom: 5px;
}

.page-subtitle {
    margin: 10px 0;
    font-weight: 500;
}

.itens {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.itens:hover {
    transform: scale(1.1);
    transition-duration: 0.5s;
}

.poster {
    width: 100%;
    height: auto;
    max-width: 200px; /* Ajuste conforme necessário */
    max-height: 300px; /* Ajuste conforme necessário */
    object-fit: cover; /* Garante que as imagens se ajustem ao tamanho sem distorcer */
}

a {
    text-decoration: none;
}

h2 {
    color: white;
}